@main(title = "Suzeva"){
<style>
<!--
.heading{
	color: #66CCFF;
	font-family: 'Economica',Arial,sans-serif;
	font-size: 34px;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	width: 50%;
	padding-top: 70px;
	padding-left: 10%;
}

.subheading{
	color: #D80000;
	font-family: 'Economica',Arial,sans-serif;
	font-size: 34px;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	width: 50%;
	padding-top: 20px;
	padding-left: 20%;
}

.featurette-image{
	padding-left: 20%;
	height: 600px;
}

.btn-img{
	padding-left: 40%;
}
-->
</style>
	<div class="heading">
		Don't want to be confused with multiple options?
	</div>
	<div class="subheading">
		Get started quickly with our standard cloud package!
	</div>
	<br>
	<div class="featurette">
		<img class="featurette-image" src="@routes.Assets.at("/images/suz_git.png")">
	</div>
	<div class="btn-img">
		<a class="btn btn-large btn-primary" href="@routes.Application.buyBasic()">Add to Bucket &raquo;</a>
	</div>
	<hr class="featurette-divider">
}
